@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.matchCard {
    background-color: $back-card;
    color: $white-text-default;
    font-size: $font-size-18;
    padding: .7vw 2.2vw;
    padding-bottom: .8vw;
    margin-left: 2vw;
    margin-right: 0vw;
    border-radius: 4px;
}

.matchInfoWrap {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
}

.matchPreview {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamWrap {
    width: 9%;
}

.mainInfo {
    width: 6%;
}

.statusWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnWrap {
    width: 1%;
    margin-right: .5%;
    margin-left: .5%;
    transform: scaleY(1);
    transition: $transition-appearance;
}

.btnWrapUp {
    width: 1%;
    margin-right: .5%;
    margin-left: .5%;
    transform: scaleY(-1);
    transition: $transition-appearance;
}

.img {
    width: 100%;
    max-width: 100%;
}

.cardFooterWrapClosed {
    display: none;
    height: 0;
}

.cardFooterWrap {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 1vw;
    margin-right: auto;
}

.statisticWrap {
    width: 48%;
}

@media (max-width: 1240px) {
    .teamWrap {
        width: 15%;
    }

    .mainInfo {
        width: 10%;
    }

    .btnWrap {
        width: 3%;
    }
    
    .btnWrapUp {
        width: 3%;
    }
}

@media (max-width: 800px) {

    .matchCard {
        padding: 1.5vw 2.2vw;
    }
    .teamWrap {
        width: 30%;
    }

    .mainInfo {
        width: 20%;
    }

    .btnWrap {
        width: 4%;
    }
    
    .btnWrapUp {
        width: 4%;
    }
}

@media (max-width: 540px) {
    .matchCard {
        padding: 3vw 4vw;
    }
    .teamWrap {
        width: 37%;
    }

    .btnWrap {
        width: 5%;
    }
    
    .btnWrapUp {
        width: 5%;
    }
}