// colors

$white-text-bold: rgba(255, 255, 255, 1);
$white-text-default: rgba(180, 181, 182, 1);
$white-text-disabled: rgba(104, 105, 106, 1);

$black-main: rgba(9, 9, 9, 1);
$back-card: rgba(11, 14, 18, 1);

$btn-default: rgba(235, 2, 55, 1);
$btn-pressed: rgba(235, 2, 55, 1);
$btn-disabled: rgba(235, 2, 55, 1);

$status-live: rgba(67, 173, 40, 1);
$status-finished: rgba(235, 2, 55, 1);
$status-preparing: rgba(235, 100, 2, 1);




