$font-size-11: 1vw;
$font-size-12: 1.1vw;
$font-size-13: 1.2vw;
$font-size-14: 1.25vw;
$font-size-18: 1.50vw;
$font-size-20: 1.75vw;

$font-size-22: 2vw;
$font-size-24: 2.55vw;
$font-size-23: 2.15vw;
$font-size-25: 2.3vw;
$font-size-28: 2.5vw;
$font-size-34: 2.95vw;
$font-size-38: 3.18vw;
$font-size-45: 4.5vw;
$font-size-64: 5.48vw;
$font-size-75: 6.48vw;
$font-size-96: 8.22vw;
$font-size-100: 8.45vw;
$font-size-111: 9.45vw;
$font-size-128: 10.96vw;
$font-size-161: 13.96vw;
$font-size-256: 21.92vw;

$button-border: 2rem;

$transition-appearance: all 250ms ease-in;
$transition-disappearance: all 150ms ease-out;

$horizontal-block-paddings-big: 1.2vw 3.5vw;

