
$font-size-12: 0.65vw;
$font-size-14: 0.75vw;
$font-size-16: 0.85vw;
$font-size-18: 0.95vw;
$font-size-20: 1.15vw;
$font-size-24: 1.35vw;
$font-size-30: 1.95vw;
$font-size-34: 2.15vw;

$font-size-40: 3.15vw;
$font-size-44: 3.35vw;






$button-border: 4px;

$transition-appearance: all 250ms ease-in;
$transition-disappearance: all 150ms ease-out;