
$font-size-12: 0.65vw;
$font-size-16: 0.85vw;
$font-size-18: 0.95vw;
$font-size-20: 1.15vw;

$button-border: 4px;

$transition-appearance: all 250ms ease-in;
$transition-disappearance: all 150ms ease-out;

// $horizontal-block-paddings-big: 1.2vw 3.5vw;

