@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
    padding: 0.68vw;
    background-color: $btn-default;
    color: $white-text-bold;
    border-radius: $button-border;
    font-size: $font-size-18;
    font-weight: 600;
    transition: $transition-appearance;

    &:disabled {
        background-color: rgba(112, 19, 40, 1) !important;
        transition: $transition-disappearance;
    }

    &:active {
        background-color: rgba(160, 17, 49, 1);
        transition: $transition-disappearance;
    }
}

.imgRotate {
    width: 100%;
    max-width: 100%;
    animation: 3s linear infinite rotate;
}

.img {
    width: 100%;
    max-width: 100%;
    transition: $transition-appearance;
}

@media (max-width: 1240px) {
    .button {
        font-size: $font-size-24;
        padding: 1vw 2vw;
    }
}

@media (max-width: 800px) {
    .button {
        font-size: $font-size-30;
        padding: 1.5vw 2vw;
    }
}

@media (max-width: 540px) {
    .button {
        font-size: $font-size-44;
        padding: 3vw 2vw;
    }
}