.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.12vw;
}

.logoWrap {
    padding-left: 2.2vw;
}

.errorWrap {
    width: 25%;
    margin-right: .8vw;
    margin-left: auto;
    display: flex;
    align-content: end;
}

.btnWrap {
    width: 10.5%;
    padding-right: 2.2vw;
}

@media (max-width: 1240px) {
    .btnWrap {
        width: 15.5%;
    }
}

@media (max-width: 800px) {
    .btnWrap {
        width: 25.5%;
    }
}

@media (max-width: 540px) {
    .btnWrap {
        width: 35.5%;
    }
}