

:root {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(180, 181, 182, 1);
  background-color: rgba(9, 9, 9, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
  padding: 0;
}

ul { 
  list-style: none; 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}